@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff; /* branco */
    --foreground: #0a0b0d; /* equivalente a 240 10% 3.9% */
    --card: #ffffff;
    --card-foreground: #0a0b0d;
    --popover: #ffffff;
    --popover-foreground: #0a0b0d;
    --primary: #0e1116; /* cor personalizada */
    --primary-foreground: #fafafa; /* equivalente a 0 0% 98% */
    --secondary: #f9f9f9; /* equivalente a 240 4.8% 95.9% */
    --secondary-foreground: #0e1116;
    --muted: #f9f9f9;
    --muted-foreground: #757575; /* equivalente a 240 3.8% 46.1% */
    --accent: #f9f9f9;
    --accent-foreground: #0e1116;
    --destructive: #f05454; /* equivalente a 0 84.2% 60.2% */
    --destructive-foreground: #fafafa;
    --border: #e5e5e5; /* equivalente a 240 5.9% 90% */
    --input: #e5e5e5;
    --ring: #0a0b0d;
    --chart-1: #e74c3c; /* equivalente a 12 76% 61% */
    --chart-2: #2ecc71; /* equivalente a 173 58% 39% */
    --chart-3: #3498db; /* equivalente a 197 37% 24% */
    --chart-4: #f1c40f; /* equivalente a 43 74% 66% */
    --chart-5: #e67e22; /* equivalente a 27 87% 67% */
    --radius: 0.5rem;
    --button-default: #252D4A;
    --text-default: #F8F9FC;
    --input-default: #252D4A;
  }

  .dark {
    --background: #0e1116; /* equivalente ao escuro */
    --foreground: #fafafa;
    --primary: #0e1116;
    --primary-foreground: #fafafa;
    --card: #0a0b0d; /* equivalente a 240 10% 3.9% */
    --card-foreground: #fafafa;
    --popover: #0a0b0d;
    --popover-foreground: #fafafa;
    --secondary: #262626; /* equivalente a 240 3.7% 15.9% */
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a1a1a1; /* equivalente a 240 5% 64.9% */
    --accent: #262626;
    --accent-foreground: #fafafa;
    --destructive: #b22a2a; /* equivalente a 0 62.8% 30.6% */
    --destructive-foreground: #fafafa;
    --border: #262626;
    --input: #252D4A;
    --ring: #cfcfcf; /* equivalente a 240 4.9% 83.9% */
    --chart-1: #3498db; /* equivalente a 220 70% 50% */
    --chart-2: #16a085; /* equivalente a 160 60% 45% */
    --chart-3: #e67e22; /* equivalente a 30 80% 55% */
    --chart-4: #9b59b6; /* equivalente a 280 65% 60% */
    --chart-5: #e74c3c; /* equivalente a 340 75% 55% */
    --button-default: #252D4A;
    --text-default: #F8F9FC;
    --input-default: #252D4A;
  }
}

html, body, #root {
  height: 100%;
  width: 100%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}